header{
	/*width: 100%;*/
} 
/*一*/
.head-box1 {
	background-image: url(../img/1_files/1.jpg);
	width: 100%;
	height: 500px;
	position: relative;
	background-size: 100% 100%;
}

.box-text{
	position: absolute;
	top: 25%;
	left: 100%;
	z-index: 1;
	opacity: 0.4;
	
}
.box-text h1{
	font-size: 50px;
	color: #337AB7;
}
.box-text p{
	font-size: 25px;
	color: #337AB7;
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
	.head-box1{
		background-image: url(../img/tech-bannersp.jpg);
	}
.box-text{
	position: absolute;
	top: 8%;
	z-index: 1;
}	
.box-text h1{
	font-size: 30px;
	color: #337AB7;
}
.box-text p{
	font-size: 15px;
	color: #337AB7;
}
}
/*二*/
.head-box2 {
	background-image: url(../img/1_files/9.jpg);
	position: relative;
	width: 100%;
	height: 1000px;
	background-size: 100% 100%;
	
}
.container-two1{
	width: 30%;
	position: absolute;
	top: 8%;
	left: -25%;
	opacity: 0.4;
}
.container-two1 h2{
	font-size: 50px;
	font-weight: bold;
}
.text-box p{
	font-size: 20px;
}
.text-box span{
	font-weight: bold;
}
.text-1 {
	text-align: center;
	position: absolute;
	left: 0;
}
.container-two1 img{
	width: 100px;
}
.container-two2{
	width: 30%;
	position: absolute;
	top: 70%;
	left:-20%;
}

.container-two2 h2{
	font-size:40px;
	font-weight: bold;
}
.container-two2 p{
	font-size: 20px;
}
.container-two2 span{
	font-weight: bold;
}
section img{
	width: 100%;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
.head-box2{
		background-image: url(../img/tech-feature-bg11sp.jpg);
	}
.container-two1{
	width: 40%;
	position: absolute;
	top: 0%;
	left: 48%;
}
.container-two1 h2{
	font-size: 26px;
	font-weight: bold;
}
.text-box p{
	font-size: 15px;
}
.text-box span{
	font-weight: bold;
}
.text-1 {
	text-align: center;
}
.container-two1 img{
	width: 70px;
}
.container-two2{
	width: 35%;
	position: absolute;
	top: 50%;
	left: 4%;
}

.container-two2 h2{
	font-size:33px;
	font-weight: bold;
}
.container-two2 p{
	font-size: 20px;
}
.container-two2 span{
	font-weight: bold;
}
section img{
	width: 100%;
}
}
