* {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 86px;
}
.navbar-nav{
	float: none;
}
.box-img{
	/*border: 1px solid red;*/
	overflow: hidden;
	height: 600px;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding-left: 0px;
}
.box-img>.shang,.box-img>.xia{
	height: 300px;
}
.bigimg>div{
	height: 600px;
}
.box-img>.shang>img,.box-img>.xia>img,.bigimg>div>img{
	width: 100%;
	height: 100%;
}
.row{
	width: 90%;
	margin: auto;
}
#last{
	height: 300px;
}
/*.guding{
	width: 200px;
	height: 150px;
	background-color: white;
	position: fixed;
	top: 300px;
	left: 45%;
	border: 1px solid red;
	z-index:999;
}*/
.tupian{
	width: 200px;
	height: 150px;
	position:fixed ;
	top:35%;
	left:43%;
	/*border: 1px solid red;*/
	z-index: 1;
	background-color: white;
}
.tupian>img,.tupian>p{
	position: absolute;
	top: 25%;
	left: 35%;
}
.tupian>p{
	
	top:60%
}
.lunbobox{
	width: 75%;
	height: 450px;
	/*border: 1px solid red;*/
	overflow: hidden;
	margin: auto;
	position: fixed;
	z-index:2;
	top: 200px;
	left: 13%;
}
.spanbox{
	height: 100%;
	text-align: center;
	line-height: 450px;
}
.spanbox>span{
	font-size: 100px;
	font-weight: bolder;
	color: white;
}

.shangtu{
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.lunbo-quantu{
	height: 450px;
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
	padding: 15px;
	/*border-radius: 10px 10px 10px 10px;*/
	border-bottom: 10px solid white;
}
.shangtu,.youtu{
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	/*border: 1px solid red;*/
	padding-top: 0px;
	padding-bottom: 0px;
	/*bottom: 15px;
	border-bottom: 15px solid white;*/
}
.youtu{
	padding-left: 30px;
	/*border: 1px solid red;*/
}
.youtu>div{
	position: absolute;
	top: 100px;
	font-size: 45px;
	font-weight: bolder;
}
.lunbobox>p>span{
	font-size: 30px;
	color: #CCCCCC;
	position: absolute;
	top: 0;
	right: 120px;
	top: 30px;
	z-index: 1;
}
.youtu>div>p:nth-of-type(2){
	font-size: 25px;
	font-weight: bold;
	color: #9C7910;
}
.shangtu>img{
	width: 100%;
	height: 100%;
}
footer{
	margin-top: 50px;
	width: 100%;
	background-color: #F9F9F9;
}
#footbox{
	padding-top: 40px;
	width: 60%;
	margin: auto;
	overflow: hidden;
}
#fb1>ul,#fb2>div>ul{
	list-style: none;
}
#fb2>div>ul>li{
	display: inline-block;
	margin-left: 50px;
}
#foot-suoxiao>ul{
	list-style: none;
	
}
#foot-suoxiao>ul>li{
	display: inline-block;
	margin-left: 120px;
	
}
#fb1>ul>li{
	height: 30px;
}
#fb1>ul>li>a{
	font-size: 14px;
	font-weight: 200;
	text-decoration: none;
	
}
#fb3{
	font-size: 10px;
}
#fb2>div>ul>li{
  margin-left: 0px;
  width: 30%;
}
.non{
	display: none;
}
#fb1>ul>li>a{
	color: #333;
	font-size:14px ;
}
@media only screen and (min-width: 100px) and (max-width: 758px) {
	
	.blo{
		display: none;
	}
	header{
		height: 60px;
	}
	#headDiv{
		height: 45px;
	}
	.navbar navbar-default{
		height: 60px;
	}
	#headDiv{
		height: 60px;
	}
	.box-img{
		height: 300px;
		padding-left: 0px;
	}
	#foot-suoxiao>ul>li{
		margin-left: 0px;
		width: 30%;
	}
	.non{
		text-align: center;
		background-color: #F9F9F9;
	}
	#fb1>ul>li{
		margin-top: 20px;
		    border-bottom: 1px solid #c0c0c0;
	}
	.non {
		display: block;
	}
	#footbox{
		width: 80%;
	}
	.box-img>.shang,.box-img>.xia{
		height: 150px;
	}
	.bigimg>div{
		height: 300px;
	}
	/*.guding{
		width: 100%;
		height: 100px;
		position: inherit;
	}*/
	.tupian{
	width: 100%;
	height: 80px;
	/*top:10%;
	left:45%;*/
	/*border: 1px solid red;*/
	position: relative;
	
	left:0px;
	cursor: pointer;
	}
	.tupian>img,.tupian>p{
	position: absolute;
	top:0px;
	left: 45%;
}
.tupian>p{
	top:70%;
}
	/*.lunbobox{
		width: 100%;
	}*/
	.shangtu{
		height: 300px;
		/*padding-bottom: 15px;*/
	}
	.youtu{
		height:120px;
		/*border: 1px solid red;*/
	}
	.youtu>div{
		top: 0px;
		/*border: 1px solid red;*/
		font-size: 25px;
		left: 0;
	}
	.youtu>div>p:nth-of-type(2){
		font-size: 18px;
		font-weight: bold;
	}
	.lunbobox>p>span{
		right: 60px;
		top: 20px;
		color: white;
	}
	.spanbox>span{
		font-size: 25px;
		font-weight: bolder;
		/*border: 1px solid red;*/
	}
	.lunbobox{
		top: 50px;
		left: 10%;
	}
	.lunbo-quantu {
		width:210px;
	}
}
.box-img div{
	overflow: hidden;
	
}
.dianji_lujing{
	opacity: 1;
	transition: ;
	transform: scale();
	cursor: pointer;

}
